﻿@model MyAvailability.Models.Login.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Login", FormMethod.Post))
{
    <div>
        Email:
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div>
        Name:
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        Password:         @Html.TextBoxFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <div>
        Repeat Password:         @Html.TextBoxFor(x => x.PasswordRepeat)
        @Html.ValidationMessageFor(x => x.PasswordRepeat)
    </div>
    <div>
        Organisation:         @Html.TextBoxFor(x => x.OrganisationName)
        @Html.ValidationMessageFor(x => x.OrganisationName)
    </div>
    <input type="submit" value="Register" />
}
